option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: ENV
    value: production
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: BASE_URL
    value: http://www.maggabbert.com/
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SITE_PORT
    value: 3000
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: INSTAGRAM_CLIENT_ID
    value: 6e6d09dd04b9449a86ab4fe4a9e4c05a
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: INSTAGRAM_CLIENT_SECRET
    value: 777bad1900704bb699b855191a8033bf
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: INSTAGRAM_ACCESS_TOKEN
    value: 3921890707.6e6d09d.ad31e4c4e7f1419a858df863f9168a2f
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: GMAIL_USER
    value: mag.gabbert
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: GMAIL_PASSWORD
    value: 5wkdtwc5
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: CONTACT_MAILTO
    value: mag.gabbert@gmail.com
