<footer class="site-footer">
  <div class="footer-top">
    <div class="inner-wide">
      <div class="offsite-links">
        <a href="https://twitter.com/mag_gabbert" class="icon-twitter"><span class="screen-reader-text">Twitter</span></a>
        <a href="http://instagram.com/mag.gabbert" class="icon-instagram"><span class="screen-reader-text">Instagram</span></a>
        <!--<a href="https://www.vimeo.com/" class="icon-vimeo coming-soon"><span class="screen-reader-text">Vimeo</span></a>-->
        <!--<a href="https://www.youtube.com/" class="icon-youtube coming-soon"><span class="screen-reader-text">YouTube</span></a>-->
        <!--<a href="#" class="icon-feed"><span class="screen-reader-text">RSS</span></a>-->
      </div><!-- .offsite-links -->
      <a href="#page" class="top-link square icon-chevron-up" title="Back to Top"><span class="screen-reader-text">Back to the top</span></a>
    </div><!-- .inner -->
  </div><!-- .footer-top -->
  <div class="site-info inner-wide">
    <p>© <a href="/">mag</a> all rights reserved.</p>   
  </div><!-- .site-info -->
</footer><!-- .site-footer -->