<div class="footer-widgets">
  <div class="inner-wide">
    <div class="widget-area">
      <div class="footer-col first">
        <aside class="widget widget-recent-posts">
          <h2 class="widget-title">What Mag Reads</h2>
          <div class="recent-posts">

            <div class="recent-item">
              <a href="http://www.wavecomposition.com/article/issue-10/poetry-and-the-metaphysical-i/" target="_blank">Dorothea Lasky’s “Poetry and the Metaphysical I”</a>
              <span>Lecture</span>
            </div>

            <div class="recent-item">
              <a href="http://www.pangyrus.com/poetry/invincible/" target="_blank">Maggie Smith’s “Invincible”</a>
              <span>Poem</span>
            </div>

            <div class="recent-item">
              <a href="http://www.missourireview.com/archives/bbarticle/the-rememberer/" target="_blank">Aimee Bender’s “The Rememberer”</a>
              <span>Short Story</span>
            </div>

            <div class="recent-item">
              <a href="https://www.poets.org/poetsorg/poem/poem-vows" target="_blank">Matthew Zapruder's "Poem for Vows"</a>
              <span>Poem</span>
            </div>

            <div class="recent-item">
              <a href="http://thesunmagazine.org/archives/2192?page=1" target="_blank">Cheryl Strayed’s “The Love of My Life”</a>
              <span>Nonfiction Essay</span>
            </div>

          </div>
        </aside><!-- .widget -->
      </div>
      <div class="footer-col middle">
        <aside class="widget widget-instagram">
          <h2 class="widget-title">mag on @instagram</h2>
          <div id="instafeed" class="instagram-feed">
          </div>
        </aside><!-- .widget -->
      </div>
      <div class="footer-col last twitter">
        <aside class="widget">
          <h2 class="widget-title">mag on @twitter</h2>
            <a class="twitter-timeline" data-link-color="#ca6c78" href="https://twitter.com/mag_gabbert">Tweets by mag_gabbert</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            {{!-- <div class="tagcloud">
              <a href="#" class="button dark">Poetry</a>
              <a href="#" class="button dark">Nonfiction</a>
              <a href="#" class="button dark">Medieval</a>
              <a href="#" class="button dark">Reading Event</a>
              <a href="#" class="button dark">Editorial</a>
            </div> --}}
        </aside><!-- .widget -->
      </div>
    </div><!-- .widget-area -->
  </div><!-- .inner-wide -->
</div><!-- .footer-widgets -->
