<div class="footer-widgets">
  <div class="inner-wide">
    <div class="widget-area">
      <div class="footer-col first">
        <aside class="widget widget-recent-posts">
          <h2 class="widget-title">What Mag Reads</h2>
          <div class="recent-posts">

            <div class="recent-item">
              <a href="http://www.wavecomposition.com/article/issue-10/poetry-and-the-metaphysical-i/"
                target="_blank">Dorothea Lasky’s “Poetry and the Metaphysical I”</a>
              <span>Lecture</span>
            </div>

            <div class="recent-item">
              <a href="https://www.poetryfoundation.org/poetrymagazine/poems/149508/ode-to-dalyas-bald-spot"
                target="_blank">Angel Nafis’ “Ode to Dalya’s
                Bald Spot"</a>
              <span>Poem</span>
            </div>

            <div class="recent-item">
              <a href="http://www.cabrillo.edu/~ewagner/WOK%20Eng%202/Paz%20-%20The%20Wave.pdf" target="_blank">Octavio
                Paz’s “My Life with the Wave”</a>
              <span>Short Story</span>
            </div>

            <div class="recent-item">
              <a href="https://www.newyorker.com/magazine/2019/08/05/almost-human" target="_blank">Ocean Vuong’s “Almost
                Human”</a>
              <span>Poem</span>
            </div>

            <div class="recent-item">
              <a href="http://ir.uiowa.edu/cgi/viewcontent.cgi?article=5739&context=iowareview" target="_blank">Lia
                Purpura's "Autopsy Report"</a>
              <span>Nonfiction Essay</span>
            </div>

          </div>
        </aside><!-- .widget -->
      </div>
      <div class="footer-col middle">
        <aside class="widget widget-instagram">
          <h2 class="widget-title">mag on @instagram</h2>
          <div id="instafeed" class="instagram-feed">
          </div>
        </aside><!-- .widget -->
      </div>
      <div class="footer-col last twitter">
        <aside class="widget">
          <h2 class="widget-title">mag on @twitter</h2>
          <a class="twitter-timeline" data-link-color="#ca6c78" href="https://twitter.com/mag_gabbert">Tweets by
            mag_gabbert</a>
          <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
          {{!-- <div class="tagcloud">
              <a href="#" class="button dark">Poetry</a>
              <a href="#" class="button dark">Nonfiction</a>
              <a href="#" class="button dark">Medieval</a>
              <a href="#" class="button dark">Reading Event</a>
              <a href="#" class="button dark">Editorial</a>
            </div> --}}
        </aside><!-- .widget -->
      </div>
    </div><!-- .widget-area -->
  </div><!-- .inner-wide -->
</div><!-- .footer-widgets -->