<head>
  <meta charset="utf-8">

  <title>mag</title>
  <meta name="description" content="The sexiest writer alive. Queen of the bears and ruler of vodka swans..">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/assets/favicon.ico">

  <link href="https://fonts.googleapis.com/css?family=Droid+Serif|Montserrat" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="./css/styles.css">

  <!--[if lt IE 9]>
  <script src="/js/html5.js?v=d4310bc3d3"></script>
  <![endif]-->

  <link rel="canonical" href="./">
  <meta name="referrer" content="origin">
  <link rel="next" href="./page/2/">
  
  <meta property="og:site_name" content="mag">
  <meta property="og:type" content="website">
  <meta property="og:title" content="mag">
  <meta property="og:description" content="The sexiest writer alive. Queen of the bears and ruler of vodka swans..">
  <meta property="og:url" content="./">
  <meta property="og:image" content="./images/lithop.jpg">
  <meta property="article:publisher" content="">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="mag">
  <meta name="twitter:description" content="The sexiest writer alive. Queen of the bears and ruler of vodka swans..">
  <meta name="twitter:url" content="./">
  <meta name="twitter:image:src" content="./images/lithop.jpg">
  <meta name="twitter:site" content="@MagWrites">
  
  <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Website",
        "publisher": "mag",
        "url": "./",
        "image": "./images/lithop.jpg",
        "description": "The sexiest writer alive. Queen of the bears and ruler of vodka swans.."
    }
  </script>

  <meta name="generator" content="Ghost 0.8">
  <link rel="alternate" type="application/rss+xml" title="mag" href="./rss/">
</head>
  