<head>
  <meta charset="utf-8">

  <title>Mag Gabbert | American Poet and Essayist</title>
  <meta name="description" content="American poet and essayist. Mag holds a PhD in creative writing; she teaches at Southern
Methodist University and for Writing Workshops Dallas.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">

  <link href="https://fonts.googleapis.com/css?family=Droid+Serif|Montserrat" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">

  <!--[if lt IE 9]>
  <script src="/js/html5.js?v=d4310bc3d3"></script>
  <![endif]-->

  <link rel="canonical" href="./">
  <meta name="referrer" content="origin">

  <meta property="og:site_name" content="Mag Gabbert">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Mag Gabbert">
  <meta property="og:description" content="American poet and essayist. Mag holds a PhD in creative writing; she teaches at Southern
Methodist University and for Writing Workshops Dallas.">
  <meta property="og:url" content="http://www.maggabbert.com">
  <meta property="og:image" content="http://www.maggabbert.com/images/mag-gabbert-home.jpg">
  <meta property="article:publisher" content="">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Mag Gabbert">
  <meta name="twitter:description" content="American poet and essayist. Mag holds a PhD in creative writing; she teaches at Southern
Methodist University and for Writing Workshops Dallas.">
  <meta name="twitter:url" content="./">
  <meta name="twitter:image:src" content="http://www.maggabbert.com/images/mag-gabbert-home.jpg">
  <meta name="twitter:site" content="@mag_gabbert">

  <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Website",
        "publisher": "Mag Gabbert",
        "url": "http://www.maggabbert.com",
        "image": "http://www.maggabbert.com/images/mag-gabbert-home.jpg",
        "description": "American poet and essayist. Mag holds a PhD in creative writing; she teaches at Southern
Methodist University and for Writing Workshops Dallas."
    }
  </script>

  <div id="fb-root"></div>
  <script>(function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=1601324353492237";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

  <meta name="generator" content="Ghost 0.8">
  <link rel="alternate" type="application/rss+xml" title="mag" href="./rss/">
</head>