<div class="cover hero">
  <div class="cover-bg light" style="background-image: url({{backgroundImage}})"></div>
  <div class="cover-content">
    <div class="inner">
      <div class="hero-wrap">
        <h2 class="hero-title fade-in">{{heading}}</h2>
        <p class="hero-text fade-in">{{subheading}}</p>
        {{!-- <p class="subscribe">
          <a href="./subscribe/" class="button light fade-in">Subscribe</a>
        </p> --}}
      </div>
    </div><!-- .inner -->
  </div><!-- .cover-content -->
</div><!-- .cover -->
