<li class="menu-item home current-menu-item" role="presentation"><a href="./">Home</a></li>
<li class="menu-item about" role="presentation"><a href="/about">About</a></li>
<li class="menu-item style-guide" role="presentation"><a href="/publications">Publications</a></li>
<li class="menu-item style-guide" role="presentation"><a href="/events">Events</a></li>
<li class="menu-item style-guide" role="presentation"><a href="/services">Services</a></li>
<li class="menu-item style-guide" role="presentation"><a href="/poem">Read a Poem</a></li>
<li class="menu-item style-guide" role="presentation" id="nav_contact"><a href="#">Contact</a></li>
