<header class="site-header">
  <div class="inner-wide">
    <h1 class="site-title"><a href="./">mag</a></h1>
    <nav class="site-navigation" role="navigation">
      <ul class="menu">
        {{> nav-items}}
      </ul><!-- .menu -->
    </nav><!-- .site-navigation -->

    <a class="sidebar-toggle"><span class="screen-reader-text">Open Sidebar</span><span class="icon" aria-hidden="true"></span></a>
  </div><!-- .inner-wide -->
</header><!-- .site-header -->
