<header class="cover post-header">
  <div class="cover-bg {{class}}" style="background-image: url({{backgroundUrl}})"></div>
  <div class="cover-content">
    <div class="inner">
      <h1 class="post-title">{{title}}</h1>
      <a href="#" class="scroll-down square light icon-chevron-down"><span class="screen-reader-text">Scroll Down</span></a>
    </div><!-- .inner -->
  </div><!-- .cover-content -->
</header><!-- .cover -->