<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="js/instafeed.js"></script>
<script type="text/javascript" src="js/plugins.js"></script>
<script type="text/javascript" src="js/jquery.scrollto.min.js"></script>
<script type="text/javascript" src="js/custom.js"></script>

<script type="text/javascript">
    var feed = new Instafeed({
        get: 'user',
        userId: '3921890707',
        accessToken: '{{instagramAccessToken}}',
        template: '<div class="instagram-item"><a target="_blank" href="\{{link}}"><img src="\{{image}}" /></a></div>'
    });
    feed.run();
</script>
