<div class="sidebar">
  <div class="sidebar-scrollable">
    <div class="widget-area">
      <nav class="site-navigation" role="navigation">
        <h2 class="screen-reader-text">Menu</h2>
        <ul class="menu">
          {{> nav-items}}
        </ul><!-- .menu -->
      </nav><!-- .site-navigation -->

      <aside class="widget widget-subscribe">
        <h2 class="widget-title">Mag's Newsletter</h2>
        <p>Enter your email address to subscribe to updates about Mag Gabbert's writings, publications and events.</p>

        <div id="newsletter_form" class="form-group sidebar-form">
          <ul class="messages"></ul>
          <input id="newsletter_email" class="subscribe-email" type="email" name="email" placeholder="* Your email address">
        </div>
        <button id="newsletter_submit">Subscribe</button>
      </aside><!-- .widget -->

      <aside class="widget widget-text">
        <h2 class="widget-title">Contact</h2>
        <p>Wanna chat? Contact Mag to discuss your reading or panel inquiry, editorial or mentorship inquiry, poem, essay, or review solicitation, or regarding any other literary matter.</p>
        
        <div id="contact_form" class="form-group sidebar-form">
          <ul class="messages"></ul>
          <input class="" type="text" name="contact_name" id="contact_name" placeholder="Your Name"><br>
          <input class="" type="text" name="contact_email" id="contact_email" placeholder="* Your email address"><br>
          <textarea class="contact-body" id="contact_body" type="text" name="contact_message" placeholder="* Write your message here..."></textarea>
        </div>
        <button id="contact_submit" type="submit">Send</button>
      </aside><!-- .widget -->
    </div><!-- .widget-area -->

    <a class="sidebar-toggle"><span class="screen-reader-text">Close Sidebar</span><span class="icon" aria-hidden="true"></span></a>
  </div><!-- .sidebar-scrollable -->
</div><!-- .sidebar -->
