<article class="grid-item post tag-music tag-science">
  <div class="post-inside">
    <div class="post-bg" style="background-image: url(/images/2016/03/walking.jpg)"></div>
    <header class="post-header">
      <div class="tag-links">
        <a href="/tag/music/">Music</a><a href="/tag/science/">Science</a>
      </div>
      <h2 class="post-title"><a href="/walking-on-thin-ice/" rel="bookmark">Walking on Thin Ice</a></h2>
      <div class="post-meta">
        by <span class="post-author"><a href="/author/jane-doe/">Jane Doe</a></span> on <time class="published" datetime="2015-10-05">October 05, 2015</time>
      </div><!-- .post-meta -->
    </header><!-- .post-header -->
    <div class="read-more">
      <a class="button light" href="/walking-on-thin-ice/" title="Walking on Thin Ice">Read More</a>
    </div>
  </div>
</article><!-- .post -->
<article class="grid-item post tag-travel">
  <div class="post-inside">
    <div class="post-bg" style="background-image: url(/images/2016/03/landscape_2.jpg)"></div>
    <header class="post-header">
      <div class="tag-links">
        <a href="/tag/travel/">Travel</a>
      </div>
      <h2 class="post-title"><a href="/basic-rules-for-walking-in-the-mountains/" rel="bookmark">Basic Rules For Walking In The Mountains</a></h2>
      <div class="post-meta">
        by <span class="post-author"><a href="/author/john/">John Doe</a></span> on <time class="published" datetime="2015-10-05">October 05, 2015</time>
      </div><!-- .post-meta -->
    </header><!-- .post-header -->
    <div class="read-more">
      <a class="button light" href="/basic-rules-for-walking-in-the-mountains/" title="Basic Rules For Walking In The Mountains">Read More</a>
    </div>
  </div>
</article><!-- .post -->
<article class="grid-item post tag-photography">
  <div class="post-inside">
    <div class="post-bg" style="background-image: url(/images/2016/03/New-York.jpg)"></div>
    <header class="post-header">
      <div class="tag-links">
        <a href="/tag/photography/">Photography</a>
      </div>
      <h2 class="post-title"><a href="/what-to-know-before-moving-to-new-york/" rel="bookmark">What To Know Before Moving To New York</a></h2>
      <div class="post-meta">
        by <span class="post-author"><a href="/author/john/">John Doe</a></span> on <time class="published" datetime="2015-10-05">October 05, 2015</time>
      </div><!-- .post-meta -->
    </header><!-- .post-header -->
    <div class="read-more">
      <a class="button light" href="/what-to-know-before-moving-to-new-york/" title="What To Know Before Moving To New York">Read More</a>
    </div>
  </div>
</article><!-- .post -->
<article class="grid-item post tag-getting-started tag-tips">
  <div class="post-inside">
    <div class="post-bg" style="background-image: url(/images/2016/03/bw-people.jpg)"></div>
    <header class="post-header">
      <div class="tag-links">
        <a href="/tag/getting-started/">Getting Started</a><a href="/tag/tips/">Tips</a>
      </div>
      <h2 class="post-title"><a href="/how-to-raise-kids-with-good-self-esteem/" rel="bookmark">How to Raise Kids with Good Self-Esteem</a></h2>
      <div class="post-meta">
        by <span class="post-author"><a href="/author/jane-doe/">Jane Doe</a></span> on <time class="published" datetime="2015-10-05">October 05, 2015</time>
      </div><!-- .post-meta -->
    </header><!-- .post-header -->
    <div class="read-more">
      <a class="button light" href="/how-to-raise-kids-with-good-self-esteem/" title="How to Raise Kids with Good Self-Esteem">Read More</a>
    </div>
  </div>
</article><!-- .post -->
<article class="grid-item post tag-travel tag-tips">
  <div class="post-inside">
    <div class="post-bg" style="background-image: url(/images/2016/03/London.jpg)"></div>
    <header class="post-header">
      <div class="tag-links">
        <a href="/tag/travel/">Travel</a><a href="/tag/tips/">Tips</a>
      </div>
      <h2 class="post-title"><a href="/visiting-london-for-the-first-time/" rel="bookmark">Visiting London for the First Time</a></h2>
      <div class="post-meta">
        by <span class="post-author"><a href="/author/jane-doe/">Jane Doe</a></span> on <time class="published" datetime="2015-10-05">October 05, 2015</time>
      </div><!-- .post-meta -->
    </header><!-- .post-header -->
    <div class="read-more">
      <a class="button light" href="/visiting-london-for-the-first-time/" title="Visiting London for the First Time">Read More</a>
    </div>
  </div>
</article><!-- .post -->
<article class="grid-item post tag-music">
  <div class="post-inside">
    <div class="post-bg" style="background-image: url(/images/2016/03/Festival.jpg)"></div>
    <header class="post-header">
      <div class="tag-links">
        <a href="/tag/music/">Music</a>
      </div>
      <h2 class="post-title"><a href="/six-things-that-will-make-or-break-fusion-festival/" rel="bookmark">Seven Things That Will Make Or Break Fusion Festival</a></h2>
      <div class="post-meta">
        by <span class="post-author"><a href="/author/jane-doe/">Jane Doe</a></span> on <time class="published" datetime="2015-10-05">October 05, 2015</time>
      </div><!-- .post-meta -->
    </header><!-- .post-header -->
    <div class="read-more">
      <a class="button light" href="/six-things-that-will-make-or-break-fusion-festival/" title="Seven Things That Will Make Or Break Fusion Festival">Read More</a>
    </div>
  </div>
</article><!-- .post -->