<div class="site-content inner-wide">
	{{> hero heading="Mag Gabbert"
	subheading="Mag Gabbert holds a PhD in creative writing from Texas Tech University and an MFA from The University of California at
	Riverside. Her essays and poems have been published in 32 Poems, Stirring, The Rumpus, Thrush, Anomaly, Phoebe,
	Birmingham Poetry Review, and many other journals. Mag teaches creative writing at Southern Methodist University and for
	Writing Workshops Dallas. She serves as an associate editor for Iron Horse Literary Review and as the interviews editor
	for Underblong Journal."
	backgroundImage="/images/mag-gabbert-bw.jpg"
	}}

	<article class="grid-item bright post tag-publishing">
		<div class="post-inside">
			<div class="post-bg" style="background-image: url(/images/mag-gabbert-announce.jpg)"></div>
			<header class="post-header" id="home_announcement">
				<div class="tag-links">
					<span>Announcements</span>
				</div>
				<h2 class="post-title">Pegasus Reading Series</h2>
				<div class="post-meta">
					Mag now co-hosts the Pegasus Reading Series, featuring established and emerging writers from all
					over the country,
					once a month at Deep Vellum Books. Be sure to “like” our Facebook page to learn more about our
					upcoming
					installments!
				</div>
				<!-- .post-meta -->
			</header>
			<!-- .post-header -->
			{{!-- <div class="read-more">
				<a class="button light" href="#" title="Mag Gabbert Publishings for Fall 2016">Read More</a>
			</div> --}}
		</div>
	</article>
	<!-- .post -->

	<article class="grid-item post">
		<div class="post-inside">
			<div class="post-bg" style="background-image: url(/images/mag-gabbert-subscribe.jpg)"></div>
			<header class="post-header">
				{{!-- <div class="tag-links">
					<a href="#">Music</a><a href="#">Science</a>
				</div> --}}
				<h2 class="post-title">Dare you to subscribe to my newsletter.</h2>{{!-- <div class="post-meta">
					by <span class="post-author"><a href="#">Jane Doe</a></span> on <time class="published" datetime="2015-10-05">October
						05, 2015</time>
				</div><!-- .post-meta --> --}}
			</header>
			<!-- .post-header -->
			<div class="read-more">
				<a class="button light subscribe-link" href="#subscribe" title="Subscribe to Newsletter">OK, let's do
					it.</a>
			</div>
		</div>
	</article>
	<!-- .post -->

</div>
<!-- .site-content -->