<div class="site-content inner-wide">
  {{> hero heading="Mag Gabbert"
           subheading="American poet and essayist. Mag currently teaches creative writing and literature at Texas Tech University, where she is completing her PhD."
           backgroundImage="/images/mag-gabbert-bw.jpg"
  }}

  <article class="grid-item bright post tag-publishing">
    <div class="post-inside">
      <div class="post-bg" style="background-image: url(/images/mag-gabbert-announce.jpg)"></div>
        <header class="post-header">
          <div class="tag-links">
            <span>Publication Announcement</span>
          </div>
          <h2 class="post-title">Forthcoming Poems!</h2>
          <div class="post-meta">
            I’m excited to share the news that four new poems of mine will soon be published in Sugar House Review and New Plains Review. Look for them in the Fall/Winter 2016 issues!
          </div><!-- .post-meta -->
        </header><!-- .post-header -->
      {{!-- <div class="read-more">
        <a class="button light" href="#" title="Mag Gabbert Publishings for Fall 2016">Read More</a>
      </div> --}}
    </div>
  </article><!-- .post -->

  <article class="grid-item post">
    <div class="post-inside">
      <div class="post-bg" style="background-image: url(/images/mag-gabbert-subscribe.jpg)"></div>
        <header class="post-header">
          {{!-- <div class="tag-links">
            <a href="#">Music</a><a href="#">Science</a>
          </div> --}}
          <h2 class="post-title">Dare you to subscribe to my newsletter.</h2>
          {{!-- <div class="post-meta">
            by <span class="post-author"><a href="#">Jane Doe</a></span> on <time class="published" datetime="2015-10-05">October 05, 2015</time>
          </div><!-- .post-meta --> --}}
        </header><!-- .post-header -->
      <div class="read-more">
        <a class="button light subscribe-link" href="#subscribe" title="Subscribe to Newsletter">OK, lets do it.</a>
      </div>
    </div>
  </article><!-- .post -->

</div><!-- .site-content -->