<div class="site-content inner-wide">
	{{> hero heading="Mag Gabbert"
	subheading="American poet and essayist. Mag holds a PhD in creative writing and teaches at Southern Methodist University and for
	Writing Workshops Dallas."
	backgroundImage="/images/mag-gabbert-bw.jpg"
	}}

	<article class="grid-item bright post tag-publishing">
		<div class="post-inside">
			<div class="post-bg" style="background-image: url(/images/mag-gabbert-announce.jpg)"></div>
			<header class="post-header" id="home_announcement">
				<div class="tag-links">
					<span>Announcements</span>
				</div>
				<h2 class="post-title">Pegasus Reading Series</h2>
				<div class="post-meta" style="font-size: 0.7rem; color: black;">
					Mag and her co-host, Sebastian Paramo, are hoping to resume the Pegasus series ASAP. Be sure to “like” the
					Pegasus Facebook page or follow Deep Vellum Books in Dallas for more info!
				</div>
				<!-- .post-meta -->
			</header>
			<!-- .post-header -->
			{{!-- <div class="read-more">
				<a class="button light" href="#" title="Mag Gabbert Publishings for Fall 2016">Read More</a>
			</div> --}}
		</div>
	</article>
	<!-- .post -->

	<article class="grid-item post">
		<div class="post-inside">
			<div class="post-bg" style="background-image: url(/images/mag-gabbert-subscribe.jpg)"></div>
			<header class="post-header">
				{{!-- <div class="tag-links">
					<a href="#">Music</a><a href="#">Science</a>
				</div> --}}
				<h2 class="post-title">Dare you to subscribe to my newsletter.</h2>{{!-- <div class="post-meta">
					by <span class="post-author"><a href="#">Jane Doe</a></span> on <time class="published" datetime="2015-10-05">October
						05, 2015</time>
				</div><!-- .post-meta --> --}}
			</header>
			<!-- .post-header -->
			<div class="read-more">
				<a class="button light subscribe-link" href="#subscribe" title="Subscribe to Newsletter">OK, let's do
					it.</a>
			</div>
		</div>
	</article>
	<!-- .post -->

</div>
<!-- .site-content -->