<div class="site-content">
  <article class="post page">

    {{> page-header title="Books, Zines, & More" backgroundUrl="/images/mag-gabbert-poem-2.jpg"}}

    <div class="post-content inner" style="max-width: 850px;">
      <h2>The Zine Series</h2>
      <div>
        <div style="display:flex; margin-bottom: 24px;">
          <div style="display: flex; flex-direction: column; align-items:center; width: 40%; text-align: center;">
            <img src="images/Teary Fails Cover.jpg" alt="Teary Fails Cover" style="margin-bottom: 5px;" height="500"
              width="200" />
            <h4 style="margin-bottom: 5px;">Teary Fails</h4>
            <h5>Mag Gabbert | Chen Chen</h5>
          </div>
          <div style="width: 60%;">
            <p style="margin-bottom: 5px; padding-right: -25px;">The title of our zine, Wonderful Nothings, comes from
              comedian and
              crafts enthusiast Amy Sedaris, who writes in her book Simple Times, “Crafting is
              considered to be a pastime where one turns simple somethings into wonderful
              nothings.” Featuring erasure poems, poems typed up handsomely (or at least semi-
              competently) on an old Olympia typewriter, and original poetry that’s never
              appeared elsewhere (!!), this little collection is a perfect gift for holidays, birthdays,
              any glittery day.</p>
            <a href="https://www.dropbox.com/s/zvigkhvpwhle263/Teary%20Fails%20%28Digital%29.pdf?dl=0" target="_blank"
              rel="noopener">Digital link</a>
            <br>
            <a href=" https://www.dropbox.com/s/ahtibxnkrvn7lnv/Teary%20Fails%20%28Printable%29.pdf?dl=0"
              target="_blank" rel="noopener">Printable link</a>
          </div>
        </div>
        <div style="display:flex;">
          <div style="display: flex; flex-direction: column; align-items:center; width: 40%; text-align: center;">
            <img src="images/Wonderful Nothings Cover.jpg" alt="Wonderful Nothings Cover" style="margin-bottom: 5px;"
              height="500" width="200" />
            <h4 style="margin-bottom: 5px;">Wonderful Nothings</h4>
            <h5>Mag Gabbert | Leila Chatti</h5>
          </div>
          <div style="width: 60%;">
            <p style="margin-bottom: 5px;">The poems in Teary Fails are the underbellies of
              fairy tales. That’s right. In this zine, “the flying carpet” becomes “a filthy gnat
              creep”—at least, theoretically. We can’t guarantee gnats, or carpets, but there are
              several creeps. Perhaps even creeping creeps! And, aside from our completely original,
              never-before-published anagram poems, this collection also comes fully furbished with
              very sparkly collage art. Make this zine your next anniversary gift! Or Halloween party
              favor! Read it to your kids! (Actually, no, probably don’t read it to your kids.)</p>
            <a href="https://www.dropbox.com/s/g7m4mvrua8aiir0/Wonderful%20Nothings%20%28Digital%29.pdf?dl=0"
              target="_blank" rel="noopener">Digital link</a>
            <br>
            <a href="https://www.dropbox.com/s/2mesgfeqshbgjrc/Wonderful%20Nothings%20%28Printable%29.pdf?dl=0"
              target="_blank" rel="noopener">Printable link</a>
          </div>
        </div>
      </div>

  </article>
</div>