<div class="site-content">
  <article class="post page">

    {{> page-header title="Books, Zines, & More" backgroundUrl="/images/mag-gabbert-poem-2.jpg"}}

    <div class="post-content inner" style="max-width: 850px;">
      <h2>Chapbook</h2>
      <div style="display:flex; margin-bottom: 24px;">
        <div style="display: flex; flex-direction: column; align-items:center; width: 40%; text-align: center;">
          <img src="images/Minml Poems Front Cover.jpg" alt="Shadow Poppets Cover" style="margin-bottom: 5px;"
            height="500" width="200" />
          <h4 style="margin-bottom: 5px;">Minml Poems</h4>
          <h5>Mag Gabbert</h5>
        </div>
        <div style="width: 60%;">
          <p style="margin-bottom: 5px; padding-right: -25px;">
            Inspired by the minimalist visual poetry of Aram Saroyan, this chapbook-length poetry collection—featuring a
            bonus nonfiction essay and afterword from the author—explores intersections between intuition, memory,
            desire, and association. Gabbert writes, “This is my inquiry: If I could cast enough light (or ‘lighght,’
            perhaps?) to show you every entity that has haunted, or pestered, or even sometimes delighted me—the one
            that resembles a tiny, flat conflation between <i>woman</i> and <i>womb</i>, for example; or the one
            gargoyling itself
            between <i>female</i> and <i>femme</i> and <i>pheromone</i>; or this one mangling <i>garbage</i> and
            <i>baggage</i> and <i>garb</i> into a solitary,
            loopy pile—what would those look like to you?” Totaling 70 pages with a $9 price tag, <i>Minml Poems</i>
            contains
            maximum value. Available from Cooper Dillon Books (2020).
          </p>
          <a href="https://store.cooperdillon.com/product/minml-poems-by-mag-gabbert" target="_blank"
            rel="noopener">Order Here</a>
        </div>
      </div>
      <h2>The Zine Series</h2>
      <div style="display:flex; margin-bottom: 24px;">
        <div style="display: flex; flex-direction: column; align-items:center; width: 40%; text-align: center;">
          <img src="images/Desperate Cover.JPEG" alt="Desperate Text Messages Cover" style="margin-bottom: 5px;"
            height="500" width="200" />
          <h4 style="margin-bottom: 5px;">Desperate Text Messages</h4>
          <h5>Mag Gabbert | Tarfia Faizullah</h5>
        </div>
        <div style="width: 60%;">
          <p style="margin-bottom: 5px; padding-right: -25px;">
            If you, too, somehow arrived at the love-riddled season with yet another boo who didn’t come through,
            <i>Desperate Text Messages</i> might just cure those heartsick blues! We’ve got fourteen very special new
            sonnets—a sonnet of sonnets!—all ready to cut out and glue to the mirror in your ex’s bathroom (or, you
            know, wherever you choose). Plus! We’ve even included valentines with old cartoons—just like the ones you
            used to pass around in elementary school—and added a few clutch revisions to boot. We promise, your love
            for this zine will finally be true.
          </p>
          <a href="https://www.dropbox.com/s/5l0vaxn0mwtifzk/Desperate%20Text%20Messages%20%28Digital%29.pdf?dl=0"
            target="_blank" rel="noopener">Digital link</a>
          <br>
          <a href="https://www.dropbox.com/s/kye1l4x0cll87e8/Desperate%20Text%20Messages%20%28Printable%29.pdf?dl=0"
            target="_blank" rel="noopener">Printable link</a>
        </div>
      </div>
      <div style="display:flex; margin-bottom: 24px;">
        <div style="display: flex; flex-direction: column; align-items:center; width: 40%; text-align: center;">
          <img src="images/puddings-cover.jpg" alt="Fidgety Puddings Cover" style="margin-bottom: 5px;" height="500"
            width="200" />
          <h4 style="margin-bottom: 5px;">Fidgety Puddings</h4>
          <h5>Mag Gabbert | Chen Chen</h5>
        </div>
        <div style="width: 60%;">
          <p style="margin-bottom: 5px; padding-right: -25px;">Prepare to feast your eyes (and brain!) on <i>Fidgety
              Puddings</i>, a zine of brand-sprinkling-new recipe poems. If you’ve got a hankering for dog food, an
            unquenchable crying craving, or an urgent need for quiet ferocity, look no further than these delightful
            poem-treats. We’ve even thrown in an artistic portrait of each dish, just to jingle your palate! Remember
            folks, good taste is timeless—so why not make this zine your next solstice gift, or go-to wintery snuggle
            read, or turn it into a centuries-old family heirloom? (We sure hope you do.) Bon appétit!</p>
          <a href="https://www.dropbox.com/s/a1ctbnyti6vb8q7/Fidgety%20Puddings%20%28Digital%29.pdf?dl=0"
            target="_blank" rel="noopener">Digital link</a>
          <br>
          <a href="https://www.dropbox.com/s/454e49idtbeefwb/Fidgety%20Puddings%20%28Printable%29.pdf?dl=0"
            target="_blank" rel="noopener">Printable link</a>
        </div>
      </div>
      <div style="display:flex; margin-bottom: 24px;">
        <div style="display: flex; flex-direction: column; align-items:center; width: 40%; text-align: center;">
          <img src="images/Shadow Poppets Cover Image.jpg" alt="Shadow Poppets Cover" style="margin-bottom: 5px;"
            height="500" width="200" />
          <h4 style="margin-bottom: 5px;">Shadow Poppets</h4>
          <h5>Mag Gabbert | Carly Joy Miller</h5>
        </div>
        <div style="width: 60%;">
          <p style="margin-bottom: 5px; padding-right: -25px;"><i>Shadow Poppets</i> is a downright two-for-one
            special. Not
            only will you enjoy this zine’s whimsically twisty exquisite corpse poem, but you can even make yourself
            at home in its six-star paper doll house with your own Shadow Poppet! What’s a Shadow Poppet, you ask? Oh,
            it’s just that strange person we each become when we’re stuck all alone—you know, when reality grows a bit
            fuzzy, then suddenly it wears a big, curly bow? So trust us, you won’t need any special occasion to crack
            this zine open and start moving in! Just a quiet afternoon and some tea with lemon.</p>
          <a href="https://www.dropbox.com/s/c3addrek4ctjtqn/Shadow%20Poppets%20%28Digital%29.pdf?dl=0" target="_blank"
            rel="noopener">Digital link</a>
          <br>
          <a href="https://www.dropbox.com/s/nt0wwcnjy74vt6z/Shadow%20Poppets%20%28Printable%29.pdf?dl=0"
            target="_blank" rel="noopener">Printable link</a>
        </div>
      </div>
      <div style="display:flex; margin-bottom: 24px;">
        <div style="display: flex; flex-direction: column; align-items:center; width: 40%; text-align: center;">
          <img src="images/Teary Fails Cover.jpg" alt="Teary Fails Cover" style="margin-bottom: 5px;" height="500"
            width="200" />
          <h4 style="margin-bottom: 5px;">Teary Fails</h4>
          <h5>Mag Gabbert | Leila Chatti</h5>
        </div>
        <div style="width: 60%;">
          <p style="margin-bottom: 5px; padding-right: -25px;">The poems in <i>Teary Fails</i> are the underbellies of
            fairy tales. That’s right. In this zine, “the flying carpet” becomes “a filthy gnat
            creep”—at least, theoretically. We can’t guarantee gnats, or carpets, but there are
            several creeps. Perhaps even creeping creeps! And, aside from our completely original,
            never-before-published anagram poems, this collection also comes fully furbished with
            very sparkly collage art. Make this zine your next anniversary gift! Or Halloween party
            favor! Read it to your kids! (Actually, no, probably don’t read it to your kids.)</p>
          <a href="https://www.dropbox.com/s/zvigkhvpwhle263/Teary%20Fails%20%28Digital%29.pdf?dl=0" target="_blank"
            rel="noopener">Digital link</a>
          <br>
          <a href=" https://www.dropbox.com/s/ahtibxnkrvn7lnv/Teary%20Fails%20%28Printable%29.pdf?dl=0" target="_blank"
            rel="noopener">Printable link</a>
        </div>
      </div>
      <div style="display:flex;">
        <div style="display: flex; flex-direction: column; align-items:center; width: 40%; text-align: center;">
          <img src="images/Wonderful Nothings Cover.jpg" alt="Wonderful Nothings Cover" style="margin-bottom: 5px;"
            height="500" width="200" />
          <h4 style="margin-bottom: 5px;">Wonderful Nothings</h4>
          <h5>Mag Gabbert | Chen Chen</h5>
        </div>
        <div style="width: 60%;">
          <p style="margin-bottom: 5px;">
            The title of our zine, <i>Wonderful Nothings</i>, comes from
            comedian and
            crafts enthusiast Amy Sedaris, who writes in her book Simple Times, “Crafting is
            considered to be a pastime where one turns simple somethings into wonderful
            nothings.” Featuring erasure poems, poems typed up handsomely (or at least semi-
            competently) on an old Olympia typewriter, and original poetry that’s never
            appeared elsewhere (!!), this little collection is a perfect gift for holidays, birthdays,
            any glittery day.
          </p>
          <a href="https://www.dropbox.com/s/g7m4mvrua8aiir0/Wonderful%20Nothings%20%28Digital%29.pdf?dl=0"
            target="_blank" rel="noopener">Digital link</a>
          <br>
          <a href="https://www.dropbox.com/s/2mesgfeqshbgjrc/Wonderful%20Nothings%20%28Printable%29.pdf?dl=0"
            target="_blank" rel="noopener">Printable link</a>
        </div>

      </div>

  </article>
</div>