<div class="site-content">
  <article class="post page">

    {{> page-header title="Featured Poem" backgroundUrl="/images/mag-gabbert-poem-2.jpg"}}
    
    <div class="post-content inner">
      <h3>Baby</h3>
      
      <p>
      I don’t think about you<br>
      in an iridescent way.<br>
      I don’t ever look<br>
      for you in the night.<br>
      I do not imagine<br>
      your endlessness.
      <br>
      When I think about you,<br>
      I think about myself.<br>
      <br>
      And of other real things,<br>
      like dawn<br>
      on the crumpled sheet,<br>
      or the mountains.<br>
      The balance between fear<br>
      and believing in things.<br>
      <br>
      You are not a wish.<br>
      You are a black and white<br>
      photo of water, hidden<br>
      somewhere in my room.
      </p>

      <p class="footnote">*First published in <i>32 Poems</i></p>
    </div>

  </article>
</div>
