<div class="site-content">
  <article class="post page">

    {{> page-header title="Services" backgroundUrl="/images/mag-gabbert-services.jpg"}}

    <div class="post-content inner">
      <p>I recently partnered with Limpede Ink, LLC, which facilitates booking and inquiries for editorial
        consultations, one-on-one mentorship, school visits/readings, craft talks, panels, and any other events you
        might want to have me take part in. You can find out more about Limpede Ink and request a quote by visiting
        their <a href="www.limpedeink.com">website</a>, or please feel free to reach out to me directly using the link
        below.</p>

      <ul>
        <li><span style="text-decoration:underline;">One-On-One Writing Mentorship Program, Poetry</span>—detailed
          feedback on 8-10 pages of new or revised poems per
          month, plus a monthly 1-hour follow-up phone call (hours and feedback amount can also be customized).</li>
        <li><span style="text-decoration:underline;">Full Poetry Manuscript, Basic Developmental Consultation</span>—one
          page of notes outlining strongest and weakest
          poems, overall impressions and edit suggestions, and suggestions for ordering the poems.</li>
        <li><span style="text-decoration:underline;">Full Poetry Manuscript, Detailed Line Edits</span>—notes and
          in-depth edit suggestions for each poem in the
          manuscript, plus everything that’s included in the basic developmental consultation.</li>
        <li><span style="text-decoration:underline;">Individual Piece Feedback, Essay or Poem(s)</span>—substantive
          notes and line-edit suggestions on one creative
          nonfiction essay, one poem, or a packet of several poems. </li>
        <li><span style="text-decoration:underline;">College Applications</span>—typically includes a 1-hour
          brainstorming and outlining meeting to discuss the essay
          prompt(s) via Zoom, detailed written feedback on essay draft(s), and a second 1-hour follow-up meeting to
          discuss revisions/revision strategies.</li>
        <li><span style="text-decoration:underline;">MFA Applications</span>—detailed written feedback on both the
          personal statement and full creative sample, plus a
          1-hour follow-up phone call or Zoom meeting.
        </li>
        <li><span style="text-decoration:underline;">General Copyediting</span>—basic grammatical touch-ups, rephrasing,
          and streamlining for any kind of written
          materials (including website text, press releases, ad copy, etc.).</li>
      </ul>

      <p>I will gladly provide pricing info and/or testimonials from current and former clients upon request! </p>

      <p style="padding-bottom: 1em;">
        <a class="button contact-link">Contact Mag</a>
      </p>

    </div>

  </article>
</div>