<div class="site-content">
  <article class="post page">

    {{> page-header title="Services" backgroundUrl="/images/mag-gabbert-services.jpg"}}

    <div class="post-content inner">
      <p>Put Mag’s years of poetry and nonfiction study, undergraduate and graduate-level college instruction, and extensive editorial experience to work for you!</p>

      <p>Prior to completing an MFA in creative writing at The University of California at Riverside, Mag studied poetry under the instruction of Matthew Zapruder, Jill Alexander Essbaum, Anthony McCann, and Jenny Browne. During that time, Mag also studied nonfiction under the mentorship of Emily Rapp, Gina Frangello, Rob Roberge, and Andrew Porter. While completing her PhD at Texas Tech University, Mag worked closely with poets John Poch and Curtis Bauer, and with prose writers Dennis Covington and Katie Cortese.</p>



      <p>Mag has now partnered with Limpede Ink, LLC, which facilitates her booking and inquiries regarding editorial consultations, one-on-one mentorship or tutoring curriculums, poetry or nonfiction readings, craft talks, panel participation, and other events. You can contact Mag directly using the link below, or you can find out more about Limpede Ink and request a quote by visiting their website: https://www.limpedeink.com</p>


      <p>The following are some of Mag’s most popular freelance services: </p>

      <ul>
        <li>Full Manuscript: Basic Developmental Consultation—poetry or nonfiction</li>
        <li>Full Manuscript: Detailed Line Edits—poetry or nonfiction</li>
        <li>Line Edit Feedback—for one or more individual poems or nonfiction essays</li>
        <li>One-On-One Writing Mentorship Program </li>
        <li>Resume, Curriculum Vitae, Cover Letter, School Application, or Project Proposal Consultation</li>
        <li>General Copyediting—with attention to grammar, syntax, and diction</li>
        <li>High School or College-Level English Tutoring</li>
      </ul>

      <p style="padding-bottom: 1em;">
        <a class="button contact-link">Contact Mag</a>
      </p>
      
    </div>

  </article>
</div>
