<div class="site-content">
  <article class="post page">

    {{> page-header title="Services" backgroundUrl="/images/mag-gabbert-services.jpg"}}

    <div class="post-content inner">
      <p>Put Mag’s years of poetry and nonfiction study, college-level classroom instruction, and extensive editorial experience to work for you!</p>

 

      <p>Prior to completing her MFA in creative writing at The University of California at Riverside, Mag studied poetry under the instruction of Matthew Zapruder, Jill Alexander Essbaum, and Anthony McCann. During that time, Mag also studied nonfiction under the mentorship of Emily Rapp, Gina Frangello, and Rob Roberge. Now a PhD candidate in creative writing at Texas Tech University, Mag has spent the previous three years working closely with poets John Poch and Curtis Bauer and with prose writers Dennis Covington and Katie Cortese.</p>

 

      <p>During her time in the PhD program at Texas Tech, Mag has served as a classroom instructor for several freshman writing composition, introduction to creative writing, and introduction to poetry in literature courses, for which she developed her own unique syllabi and semester curriculums. Throughout her time as an instructor, Mag has provided extensive feedback on creative and critical assignments, facilitated classroom learning and discussion, and conducted interactive creative writing workshops.</p>
 

      <p>In addition, Mag has spent the previous decade editing for several literary magazines, including The Trinity Review, The Coachella Review, and Iron Horse Review, where she has variously served under the titles of associate editor, associate poetry editor, and editor-in-chief. While editing for these publications, Mag has worked not only to curate the items selected for publication, but also to advise authors during the revision process, and in some cases to compile and format individual issues for print and digital publication.</p>

 

      <p>Now, you can reap the benefits of Mag’s years of literary study and instruction! Contact Mag here if you are interested in hiring her for any of the services listed below, or if you would like to request her participation in an upcoming panel or reading event.</p>

 
      <ul>
        <li>Full Manuscript Basic Consultation (Poetry or Prose)</li>
        <li>Full Manuscript Line Edits (Poetry or Prose)</li>
        <li>One-On-One Writing Mentorship Program (Monthly)</li>
        <li>Small Group Workshop Instruction* (Individual Session or Monthly Course)</li>
        <li>Resume, Curriculum Vitae, Cover Letter, School Application, or Work Proposal Consultation</li>
        <li>Creative or Critical Proofreading, with Attention to Grammar, Syntax, and Diction</li>
        <li>High School or College-Level Writing Tutoring (Individual or Monthly Rate)</li>
      </ul>

      <p class="footnote">*Workshops can be scheduled online or in-person. In-person monthly workshop courses can only be accommodated in Lubbock or Dallas, Texas at this time.</p>
    </div>

  </article>
</div>
