<div class="site-content">
  <article class="post page">
    {{> page-header title="Publications" backgroundUrl="/images/lithop.jpg"}}
    
    <div class="post-content inner">
            <p>This is a pragraph. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis.</p>
            <h1 id="thisisanh1">This is an H1</h1>
            <p><mark>Quisque facilisis erat a dui</mark>. Nam malesuada ornare dolor. Cras gravida, diam sit amet rhoncus ornare, erat elit consectetuer erat, id egestas pede nibh eget odio. Proin tincidunt, velit vel porta elementum, magna diam molestie sapien, non aliquet massa pede eu diam. Aliquam iaculis. Fusce et ipsum et nulla tristique facilisis.</p>
            <h2 id="thisisanh2">This is an H2</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim. Suspendisse id velit vitae ligula volutpat condimentum. Aliquam erat volutpat. Sed quis velit. Nulla facilisi. Nulla libero.</p>
            <h3 id="thisisanh3">This is an H3</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim. Suspendisse id velit vitae ligula volutpat condimentum. Aliquam erat volutpat. Sed quis velit. Nulla facilisi. Nulla libero.</p>
            <h4 id="thisisanh4">This is an H4</h4>
            <p>Quisque facilisis erat a dui. Nam malesuada ornare dolor. Cras gravida, diam sit amet rhoncus ornare, erat elit consectetuer erat, id egestas pede nibh eget odio. Proin tincidunt, velit vel porta elementum, magna diam molestie sapien, non aliquet massa pede eu diam. Aliquam iaculis.</p>
            <h3 id="quoting">Quoting</h3>
          <blockquote>“Creativity is allowing yourself to make mistakes. Design is knowing which ones to keep.” <cite><cite>― Scott Adams</cite></blockquote>
          <p>Lorem ipsum dolor sit amet, <code>consectetuer adipiscing</code> elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim. Suspendisse id velit vitae ligula volutpat condimentum. Aliquam erat volutpat. Sed quis velit. Nulla facilisi. Nulla libero.</p>
          <h4 id="alignleft">Align Left</h4>
        <blockquote class="alignleft">“Clients don’t understand their success is reliant on standing out, not fitting in.” <cite>― Don Draper</cite></blockquote>
        <p>Quotations are used for a variety of reasons: to illuminate the meaning or to support the arguments of the work in which it is being quoted, to provide direct information about the work being quoted (whether in order to discuss it, positively or negatively), to pay homage to the original work or author, to make the user of the quotation seem well-read, and/or to comply with copyright law. Quotations are also commonly printed as a means of inspiration and to invoke philosophical thoughts from the reader.</p>
        <h4 id="alignright">Align Right</h4>
      <blockquote class="alignright">“To create a memorable design you need to start with a thought that’s worth remembering.” <cite>― Thomas Manss</cite></blockquote>
      <p>The increase of written means of informal communication brought about by the Internet has produced the practice of using quotations as personal flags, as in one's own signature block. This is most commonly seen in email messages and Usenet posts, while it is almost never seen in blog posts. Quotations are also popular as a user's personal message, a line under the user's nickname in some Instant Messaging clients (and here they often go uncited). In all these cases, quotations are usually included to give a glimpse of the user's personality, to make a statement of their beliefs, or to spread views and ideas.</p>
      <hr />
      <h3 id="syntaxhighlighter">Syntax Highlighter</h3>
      <pre><code data-language="css">#header h1 { 
            color: #fff;
            margin-bottom: 1.5em; 
        }
        .author-avatar {
            border-radius: 5px;
            display: block;
            height: 60px;   
            margin-right: 30px;
            width: 60px;
        }
      </code></pre>
      <pre><code data-language="javascript">// Simple map
        var map;
        function initMap() {
          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: -34.397, lng: 150.644},
            zoom: 8
          });
      }</code></pre>
      <h3 id="videos">Videos</h3>
      <p><iframe src="https://player.vimeo.com/video/137643135?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/137643135">This Mountain</a> from <a href="https://vimeo.com/evanmann">Evan Mann / OWP Denver</a> on <a href="https://vimeo.com">Vimeo</a>.</p></p>
      <h3 id="tweet">Tweet</h3>
      <p>If you wanted to embed a tweet directly into one of your Ghost posts, Ghost makes this very easy.</p>
      <p><blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr"><a href="http://t.co/8sXnz1iPi5">http://t.co/8sXnz1iPi5</a> Adopts Universal <a href="https://twitter.com/hashtag/JavaScript?src=hash">#JavaScript</a>, Drops Java From Rendering Pipeline <a href="http://t.co/KvLam1JlUu">http://t.co/KvLam1JlUu</a></p>&mdash; Radiohead (@radiohead) <a href="https://twitter.com/radiohead/status/772797351572504577">August 12, 2015</a></blockquote> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></p>
      
      <h3 id="audio">Audio</h3>
      <p>
        {{!-- <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/165895349&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe> --}}
      </p>

      <h3 id="images">Images</h3>
      <p>Images work too! Already know the URL of the image you want to include in your article? Simply paste it in like this to make it show up:</p>
      <p class="full-width">
        <img src="/content/images/2016/03/full.jpg" alt="" />
      </p>
      <p>Lorem ipsum dolor sit amet, <code>consectetuer adipiscing</code> elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim. Suspendisse id velit vitae ligula volutpat condimentum. Aliquam erat volutpat. Sed quis velit. Nulla facilisi. Nulla libero.</p>
      <h4 id="alignleft">Align Left</h4>
      <p class="alignleft">
        <img src="/content/images/2016/03/hiking-left.jpg" alt="" />
      </p>
      <p>Lorem ipsum dolor sit amet, <code>consectetuer adipiscing</code> elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim. Suspendisse id velit vitae ligula volutpat condimentum. Aliquam erat volutpat. Sed quis velit. Nulla facilisi. Nulla libero. Lorem ipsum dolor sit amet, <code>consectetuer adipiscing</code> elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim. Suspendisse id velit vitae ligula volutpat condimentum. Aliquam erat volutpat. Sed quis velit. Nulla facilisi. Nulla libero.</p>
      <p>Lorem ipsum dolor sit amet, <code>consectetuer adipiscing</code> elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim. Suspendisse id velit vitae ligula volutpat condimentum. Aliquam erat volutpat. Sed quis velit. Nulla facilisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pulvinar tincidunt turpis ac fringilla. Mauris eget dolor neque. Donec ac ex quis lectus sagittis vestibulum.</p>
      <h4 id="alignright">Align Right</h4>
      <p class="alignright">
        <img src="/content/images/2016/03/Medium_right.jpg" alt="" />
      </p>
      <p>Lorem ipsum dolor sit amet, <code>consectetuer adipiscing</code> elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim. Suspendisse id velit vitae ligula volutpat condimentum. Aliquam erat volutpat. Sed quis velit. Nulla facilisi. Nulla libero. Lorem ipsum dolor sit amet, <code>consectetuer adipiscing</code> elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim. Suspendisse id velit vitae ligula volutpat condimentum. Aliquam erat volutpat. Sed quis velit. Nulla facilisi. Nulla libero.</p>
      <h4>Unordered Lists</h4>
      <ul>
        <li>Donec non tortor in arcu mollis feugiat</li>
        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</li>
        <li>Donec id eros eget quam aliquam gravida</li>
        <li>Vivamus convallis urna id felis</li>
        <li>Nulla porta tempus sapien</li>
      </ul>
      <h4>Ordered Lists</h4>
      <ol>
        <li>Donec non tortor in arcu mollis feugiat</li>
        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</li>
        <li>Donec id eros eget quam aliquam gravida</li>
        <li>Vivamus convallis urna id felis</li>
        <li>Nulla porta tempus sapien</li>
      </ol>
      <h3 id="tables">Tables</h3>
      <table class="standard-table">
        <caption>Mozilla Tables Demo</caption>
        <thead>
          <tr>
            <th>Content categories</th>
            <th>Flow content</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Permitted content</td>
            <td>
              <div class="content-models">
                <div id="table-mdls">In this order:
                  <ul>
                    <li>an optional <a href="/en-US/docs/Web/HTML/Element/caption" title="The HTML <caption> Element (or HTML Table Caption Element) represents the title of a table. Though it is always the first descendant of a <table>, its styling, using CSS, may place it elsewhere, relative to the table."><code>&lt;caption&gt;</code></a> element,</li>
                    <li>zero or more <a href="/en-US/docs/Web/HTML/Element/colgroup" title="The&nbsp;HTML Table Column Group Element&nbsp;(<colgroup>) defines a group of columns within a table."><code>&lt;colgroup&gt;</code></a> elements,</li>
                    <li>an optional <a href="/en-US/docs/Web/HTML/Element/thead" title="The HTML Table Head Element (<thead>) defines a set of rows defining the head of the columns of the table."><code>&lt;thead&gt;</code></a> element,</li>
                    <li>one of the two alternatives:
                      <ul>
                        <li>one <a href="/en-US/docs/Web/HTML/Element/tfoot" title="The HTML Table Foot Element (<tfoot>) defines a set of rows summarizing the columns of the table."><code>&lt;tfoot&gt;</code></a> element, followed by:
                        <ul>
                          <li>zero or more <a href="/en-US/docs/Web/HTML/Element/tbody" title="The HTML Table Body Element () defines one or more <tr> element data-rows to be the body of its parent <table> element (as long as no <tr> elements are immediate children of that table element.)&nbsp; In conjunction with a preceding <thead> and/or <tfoot> element, <tbody> provides additional semantic information for devices such as printers and displays. Of the parent table's child elements, <tbody> represents the content which, when longer than a page, will most likely differ for each page printed; while the content of <thead> and <tfoot> will be the same or similar for each page printed. For displays, <tbody> will enable separate scrolling of the <thead>, <tfoot>, and <caption> elements of the same parent <table> element.&nbsp; Note that unlike the <thead>, <tfoot>, and <caption> elements however, multiple&nbsp;<tbody> elements are permitted (if consecutive), allowing the data-rows in long tables to be divided into different sections, each separately formatted as needed."><code>&lt;tbody&gt;</code></a> elements,</li>
                          <li>or one or more <a href="/en-US/docs/Web/HTML/Element/tr" title="The HTML Table Row Element (<tr>) defines a row of cells in a table. Those can be a mix of <td> and <th> elements."><code>&lt;tr&gt;</code></a> elements,</li>
                        </ul>
                      </li>
                      <li>a second alternative followed by an optional <a href="/en-US/docs/Web/HTML/Element/tfoot" title="The HTML Table Foot Element (<tfoot>) defines a set of rows summarizing the columns of the table."><code>&lt;tfoot&gt;</code></a> element:
                      <ul>
                        <li>either zero or more <a href="/en-US/docs/Web/HTML/Element/tbody" title="The HTML Table Body Element () defines one or more <tr> element data-rows to be the body of its parent <table> element (as long as no <tr> elements are immediate children of that table element.)&nbsp; In conjunction with a preceding <thead> and/or <tfoot> element, <tbody> provides additional semantic information for devices such as printers and displays. Of the parent table's child elements, <tbody> represents the content which, when longer than a page, will most likely differ for each page printed; while the content of <thead> and <tfoot> will be the same or similar for each page printed. For displays, <tbody> will enable separate scrolling of the <thead>, <tfoot>, and <caption> elements of the same parent <table> element.&nbsp; Note that unlike the <thead>, <tfoot>, and <caption> elements however, multiple&nbsp;<tbody> elements are permitted (if consecutive), allowing the data-rows in long tables to be divided into different sections, each separately formatted as needed."><code>&lt;tbody&gt;</code></a> elements,</li>
                        <li>or one or more <a href="/en-US/docs/Web/HTML/Element/tr" title="The HTML Table Row Element (<tr>) defines a row of cells in a table. Those can be a mix of <td> and <th> elements."><code>&lt;tr&gt;</code></a> elements</li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Tag omission</td>
        <td>None, both the <span title="syntax-start-tag">start tag</span> and the <span title="syntax-end-tag">end tag</span> are mandatory</td>
      </tr>
      <tr>
        <td>Permitted parent elements</td>
        <td>Any element that accepts flow content</td>
      </tr>
      <tr>
        <td>Normative document</td>
        <td><a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/tabular-data.html#the-table-element" rel="external nofollow" class="external external-icon">HTML5, section 4.9.1</a> (<a href="http://www.w3.org/TR/REC-html40/struct/tables.html#edef-TABLE" class="external external-icon">HTML4.01, section 11.2.1</a>)</td>
      </tr>
    </tbody>
  </table>
    </div><!-- .post-content -->
  </article><!-- .post -->
  
</div><!-- .site-content -->